{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs", "@babel/plugin-transform-runtime"],
      "presets": ["@babel/preset-typescript", "@babel/preset-env"]
    }
  }
}